* {
    font-family: monospace;
    text-transform: uppercase;
    color: #00ff00;
    outline: none;
}

body {
    background-color: #000;
}

#title {
    text-align: center;
    margin-top: 4vh;
    margin-bottom: 4vh;
}

.tabuleiro{
    margin: 0 auto;
    margin-top: 10px;
    max-width: 670px;
    height: 60vh;
    display: flex;
}

.tabuleiro_coluna{
    max-width: 150px;
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: baseline;
    align-items: center;
    flex-direction: column-reverse;
    border: 2px solid #0F0;
}

#div_restet {
    margin: auto;
    width: 10vw;
    border: 3px solid green; 
    text-align: center;
}

#reset {
    background-color: #000;
    border-style: none;
    font-size: 1.5rem;
    text-align: center;
}

#player-and-result {
    text-align: center;
    font-size: 1.5rem;
}

.yellow {
    color: #000;
    width: 60px;
    height: 60px;
    padding: 0px;
    margin: 5px;
    font-size: 1.3rem;
    background-color: #000;
    border: solid 4px red;
    overflow: hidden;
    animation: yellow 0.5s 3;
    word-wrap: break-word;
    text-align: center;
}

@keyframes yellow {
    0% {
        color: #000;
    }
    50% {
        color: #0F0;
    }
    100% {
        color: #000;
    }
}


.blue {
    color: #000;
    width: 60px;
    height: 60px;
    padding: 0px;
    margin: 5px;
    font-size: 1.3rem;
    background-color: #000;
    border: solid 4px yellow;
    overflow: hidden;
    animation: blue 0.5s 3;
    word-wrap: break-word;
    text-align: center;
}

@keyframes blue {
    0% {
        color: #000;
    }
    50% {
        color: #0F0;
    }
    100% {
        color: #000;
    }
}

.input {
    width: 60px;
    height: 60px;
    padding: 0px;
    margin: 5px;
    font-size: 1.3rem;
    color: #00ff00;
    overflow: hidden;
    border: solid 4px #00ff00;
    animation: input 0.5s 5;
    text-align: center;
    word-wrap: break-word;
}

@keyframes input {
    0% {
        color: #000;
    }
    50% {
        color: #0F0;
    }
    100% {
        color: #000;
    }
}